
.closeButton {
    background-color:#71239e; 
    color:#cb8bf0; 
    border:2px solid #71239e; 
    border-radius:10px; 
    padding:4px;
}

.window {
    border:2px solid #71239e; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 10px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    overflow:auto; 
    background-color:#cb8bf0; 
    flex-direction:column;
}